<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <!-- Database connection settings -->
        <!-- Set the Driver Class -->
        <property name="connection.driver_class">com.mysql.cj.jdbc.Driver</property>
        <!-- Set URL -->
        <property name="connection.url">jdbc:mysql://localhost:3306/EduScrumAwards</property>
        <!-- Set the username -->
        <property name="connection.username">root</property>
        <!-- Set the password (use your MySQL password) -->
        <property name="connection.password"></property>
        <!-- Echo all executed SQL to stdout -->
        <property name="show_sql">true</property>

        <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>

        <!-- Automatically update tables based on entity classes -->
        <!--        <property name="hibernate.hbm2ddl.auto">update</property>-->

        <!-- Automatically update tables based on entity classes -->
        <property name="hibernate.hbm2ddl.auto">update</property>

        <!-- Set the annotated classes (inform the complete namespace) -->
        <mapping class="UPT_SQ.EduScrumAwards.model.Award" />
        <mapping class="UPT_SQ.EduScrumAwards.model.AwardRule" />
        <mapping class="UPT_SQ.EduScrumAwards.model.StudentAward" />
        <mapping class="UPT_SQ.EduScrumAwards.model.Team"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.TeamMember"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.Project"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.Goal"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.Sprint"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.CourseTeacher"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.Course"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.User"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.Teacher"/>
        <mapping class="UPT_SQ.EduScrumAwards.model.Student"/>

        <!--   SupplyReceiveProductsCountries     -->
        <!--    SuppliedTransport    -->
    </session-factory>
</hibernate-configuration>
